{% extends 'base.html' %}

{% block content %}
  {% for room in rooms %}
    <div id="{{ room.name }}" class="room">
      {{ room.name }}
      {% for container_group in room.s_object %}
        <div class="container_group {{ container_group.name }}">
          {% for container in container_group.s_object %}
            <div class="container {{ container.name }}">
              {{ container.name }}
              {% for item in container.s_object %}
                <div class="item {{ item.name }}">
                  {{ item.name }}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {# {% include 'load_objects.html' %} #} {# see note in iterate_items_in_enlosures.jinja2#}
{% endblock %}